*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url("../assets/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.pattern>div img{
    margin-top: 124px;
    width: 621px;
    height: 290px;
}

form{
    margin-top: 60px;
}
.controls{
    max-width: 621px;
    margin: 0 auto;
}
#start_button{
    background-image: url("../assets/game_start_button.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 330px;
    height: 64px;
    margin: 181px auto;
    cursor: pointer;
}
#game_screen{
    height: 100vh;
    color: #FF5155;
}
.scoreboard{
    width: 346px;
    height: 693px;
    border: 3px solid #FF5155;
    border-radius: 15px;
    margin-top: 25px;
}

#home_icon{
    width: 330px;
    height: 64px;
    position: relative;
    top: 71%;
    margin-left: 120px;
}
.center-column{
    margin-top: 300px;
    text-align: center;
}
#cross{
    cursor: pointer;
}
#game-over-screen-layout{
    color: #FF5155;
}
#bag_words{
    color: white;
    font-size: 70px;
}
li{
    list-style: none;
}